.events__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  place-items: center;

  margin-top: 5.9375rem;
  margin-bottom: 5.1875rem;
}

.events__section img {
  width: 11.6875rem;
  height: 11.6875rem;
}

.events__section div h2 {
  color: var(--color-primary);
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.events__section div h3 i {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.events__section div h3 {
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.events__section div p {
  width: 53ch;
}

.events__section span {
  grid-column: 3;
  grid-row: 3;
}

.events__section__copy {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;

  margin-right: 3rem;
  width: 85ch;
}

.events__section__adress {
  grid-row: 3;
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;

  place-items: center;
}

.events__section__adress i {
  color: var(--color-primary);
}
