.events__section {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);

  margin-top: 5.9375rem;
  margin-bottom: 5.1875rem;

  place-items: center;
}

@media screen and (min-width: 1280px) {
  .events__section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;

    margin-top: 5.9375rem;
    margin-bottom: 5.1875rem;
  }
}

.events__section:nth-last-of-type(2) {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .events__section:nth-last-of-type(2) {
    display: grid;
    background: #f5f5f5;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.events__section img {
  width: 11.6875rem;
  height: 11.6875rem;
  justify-self: center;
  align-self: center;
}

.events__section div {
  text-align: center;
}

.events__section div h2 {
  color: var(--color-primary);
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.events__section div h3 i {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.events__section div h3 {
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.events__section div p {
  width: 40ch;
}

@media screen and (min-width: 1280px) {
  .events__section div p {
    width: 53ch;
  }
}

.events__section p {
  line-height: 1.6875rem;
}

.events__section span {
  grid-column: 3;
  grid-row: 3;

  color: var(--color-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.events__section__copy {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;

  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 35ch;
}

@media screen and (min-width: 1280px) {
  .events__section__copy {
    width: 85ch;
    margin-right: 3rem;
  }
}

.events__section__adress {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  grid-row: 3;
  grid-column: 2;

  place-items: center;
}

@media screen and(min-width: 1280px) {
  .events__section__adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    grid-column: 2;

    place-items: center;
  }
}

.events__section__adress h4,
.events__section__adress p {
  margin: 0;
}

.events__section__adress h4 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.1875rem;
  line-height: 18px;
  color: #000;
  margin-bottom: 0.5rem;
}

.events__section__adress p {
  font-size: 0.875rem;

  color: var(--color-copy);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1280px) {
  .events__section__adress p {
    line-height: 0.6875rem;
  }
}

.events__section__adress i {
  color: var(--color-primary);
  padding-right: 2rem;
}
