.gallery__main {
  background: #000;
}
.gallery {
  height: auto;
  margin-top: 10.5rem;
  margin-bottom: 5.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery img {
  margin-bottom: 2.5rem;
}
